{% load static%}

<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-top-fixed.css' %}">

</head>

<body>
    <!-- INICIO NAVBAR -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid ">
            <a class="navbar-brand" href="/">Estoque</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse me-auto mb-2 mb-md-0" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/produtos">Produtos</a>
                    </li>
                </ul>
                <button  class="btn btn-danger me-3" type="button">Sair</button>
            </div>

            
        </div>
    </nav>
    <!-- FIM NAVBAR-->
    <main class="container col-8">
        <div class="bg-light p-5 rounded">
            <h3>Lista de Produtos</h3>
            <p class="lead">Veja abaixo a lista de produtos cadastrados no sistema</p>
            <div class="d-grid gap-2 d-md-block">
                <a href="/form" type="button" class="btn btn-success"> cadastrar novo produto </a>
            </div>
            

            <!-- SEARCH -->

            <div class="m-auto pt-3 pb-2 text-center">
                <form method="get">
                    <input type="text" id="search" name="search" class="form-control" placeholder="Buscar...">
                </form>
            </div>

            <!-- FIM SEARCH -->

            <div class=" m-auto pt-4 pb-2 text-center table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Código do Produto</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Quantidade no estoque</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dbs in db %}
                        <tr>
                            <th>{{ dbs.id }}</th>
                            <th>{{ dbs.codigoProduto }}</th>
                            <td>{{ dbs.produto }}</td>
                            <td>{{ dbs.valor }}</td>                            
                            <td>{{ dbs.quantidade }}</td>
                            <td>
                                <a href="/view/{{dbs.id}}" type="button" class="btn btn-outline-success btn-sm">Visualizar detalhes</a>
                                <!-- <a href="/edit/{{dbs.id}}" type="button" class="btn btn-warning btn-sm">Editar</a> -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!--
            <section>
        <div class="pagination">
            {% if db.has_previous %}
                <a href="?page={{db.previous_page_number}}"> < </a>
            {% endif %}
        
            {{db.number}}
        
            {% if db.has_next %}
                <a href="?page={{db.next_page_number}}"> > </a>
            {% endif %}
        </div>
    </section>
    -->

</body>
<script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>

</html>